<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/_src/styles/lesson.css' | url }}">
    <title>{{ title }}</title>
  </head>

  <body>
    <div class="reader-bar-start">

      <header>
        <div>
          <img src='/_src/assets/logo-white.png' height=30px alt='logo Henry'/>
        </div>
        <div class='lessonTitle'>
          {{ title }}
        </div>
      </header>

      <sideBar>
        <div>
          {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
        </div>
        <nav>
          {# {{ content | toc | safe }} #}
        </nav>
      </sideBar>

      <main>
        <div>
          <p>
            <span class="readingTime">Tiempo de lectura {{ content | readingTime }}</span>
          </p>

          <article>
            {{ content | safe }}
          </article>

        </div>
      </main>

      <footer>
        <h5>Hecho con 💛 por alumnos de Henry</h5>
      </footer>

    </div>
     {% readerBar "3px", "black", "yellow" %}
  </body>
</html>