<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/_src/styles/lesson.css' | url }}">
  <title>{{ title }}</title>
</head>

<body>

  <header>
    <div>
      <img src='/_src/assets/logo-white.png' height=30px alt='logo Henry'/>
    </div>
    <div class='lessonTitle'>
      < {{ title }} >
    </div>
  </header>


  <nav>
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
  </nav>

  <main>
      {{ content | safe }}
  </main>

  <footer>
  <h5>Hecho con 💛 por alumnos de Henry</h5>
  </footer>

</body>
</html>